.h1
{
	color: white;
	
    text-align: center;

}
body
{
	background-image: url('image/back.jpg');
	
    text-align: center;

	color: white;
}
a, a:visited {
    /* Les liens "au repos" et déjà visités antérieurement */
    color: #5F9EA0; /* couleur blanche */
}

a:hover, a:focus, a:active {
    /* Les liens au survol, au focus, et actifs : on leur donne la couleur rouge pour l'exemple */
    color: #5F9EA0;
}
p
{
	
	text-align: center;
	
	color: white;
	
	font-size:17px;
	
	font-family: Times New Roman;
	
}
header
{
	background:none;
	color: white;
}
footer
{
	background:none;

}
img
{
  position: relative;
  float: left;
  border: 5px solid #000000;
  
  -webkit-transition: .4s ease-in-out;
     -moz-transition: .4s ease-in-out;
      -ms-transition: .4s ease-in-out;
       -o-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
}
#onglets li

{

    float : left;

    height : 25px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */

    background-color: none ;

    margin : 10px 10px 0 10px !important;  /* Pour les navigateurs autre que IE */

    margin : 1px 2px 0 2px;  /* Pour IE  */

    border : 1px solid #9EA0A1;

}
#onglets li.active

{

    border-bottom: 1px solid #fff;

    background-color:none;

}

#onglets a

{

    display : block;

    color : white;

    text-decoration : none;

    padding : 4px;

}
#onglets a:hover
{
    background :grey;
}
